{% include 'header.html' %}

<div class="container mt-5">
  <h1 class="mb-4 text-white">Frequently Asked Questions</h1>

  <!-- Question 1 -->
  <div class="card mb-3">
      <div class="card-header">
          <h5>How does Review Refinery work?</h5>
      </div>
      <div class="card-body">
          <p>Review Refinery uses advanced NLP algorithms to search and retrieve scientific articles based on the keywords provided by the user.</p>
      </div>
  </div>

  <!-- Question 2 -->
  <div class="card mb-3">
      <div class="card-header">
          <h5>Is this service free?</h5>
      </div>
      <div class="card-body">
          <p>Yes, Review Refinery is completely free for public use.</p>
      </div>
  </div>

  <!-- Question 3 -->
  <div class="card mb-3">
      <div class="card-header">
          <h5>Where are the data coming from?</h5>
      </div>
      <div class="card-body">
          <p>The articles are published in PubMed which is a complimentary search platform that primarily taps into the Medline database, offering references and summaries related to life sciences and biomedical subjects.</p>
      </div>
  </div>

  <!-- Question 4 -->
  <div class="card mb-3">
      <div class="card-header">
          <h5>Why was this project born?</h5>
      </div>
      <div class="card-body">
          <p>In the vast sea of scientific literature, researchers frequently grapple with pinpointing the articles most pertinent to their area of interest. Recognizing this persistent challenge, we embarked on a mission to devise a sophisticated algorithm. This tool is tailored not just to sift through the literature, but to adeptly zero in on and present the most salient articles, streamlining the systematic review process for scientists.</p>
      </div>
  </div>

   <!-- Question 5 -->
   <div class="card mb-3">
    <div class="card-header">
        <h5>What languages are supported?</h5>
    </div>
    <div class="card-body">
        <p>So far, only English language is supported.</p>
    </div>
</div>

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% include 'footer.html' %}
