</div> <!-- End main content wrapper -->

<footer class="bg-dark p-3 mt-5 text-light">
  <p class="text-center mb-0">
    <a href="https://github.com/CuevasEli" target="_blank" class="text-light">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" style="width: 20px; vertical-align: middle; margin-right: 5px; border-radius: 50%;">CuevasEli
    </a> |
    <a href="https://github.com/SebT84" target="_blank" class="text-light">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" style="width: 20px; vertical-align: middle; margin-right: 5px; border-radius: 50%;">SebT84
    </a> |
    <a href="https://github.com/lccopy" target="_blank" class="text-light">
      <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" style="width: 20px; vertical-align: middle; margin-right: 5px; border-radius: 50%;">lccopy
    </a>
  </p>
</footer>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
